@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.custom-date-class {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  /* For small devices (up to 576px width) */
  .custom-date-class {
      margin-left: 0;
      margin-right: 0;
  }
}